.row
  .eight.columns
    #gathering-name.gathering-name{ class: errors(:gathering_name) ? 'error' : '' }
      = f.label :name
      = f.text_field :name, placeholder: "Enter the Gathering name (a.k.a. Title)"
      %small= errors(:gathering_name)
  .four.columns
    #gathering-location.gathering-location{ class: ( errors(:gathering_location) ? 'error' : '' ) }
      = f.label :location
      = f.text_field :location, placeholder: "Enter the Gathering location"
      %small= errors(:gathering_location)
.row
  .twelve.columns
    #gathering-description.gathering-description{ class: ( errors(:gathering_description) ? 'error' : '' ) }
      = f.label :description
      = f.text_area :description, rows: 3, placeholder: "Provide a brief description"
      %small= errors(:gathering_description)
