!!!
%html
  %head
    %title
      = @title || "Gatherings"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container-fluid
      .row-fluid
        .span10
          %h1= @title
        .span2
          = user_controls_titlebar
        .row-fluid
          .span2
            left sidebar
          .span10
            - if notice
              %p.notice= notice
            - if alert
              %p.alert= alert
            = yield